<html>

<head>
  {% load static %}

  <link href="{% static 'office/css/ofc.css' %}" rel="stylesheet">

</head>

<body>

  <div class="navbar">
    <a href="{% url 'Inicio' %}">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Episodes
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'Seasons' %}">Season 1</a> 
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <a href="#contact">Contact</a>
    
  </div>

  {% block content %}

  {% endblock %}

</body>

</html>